<section id="personal">
  <div class="conatiner p-5">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-12">
        <div class="card bg-dark">
          <div class="card-body">
            <h1 class="text-center">Rory Magee</h1>
            <p class="text-center">Web Developer</p>
            <hr>
            <p class="text-center">
              <span style="font-size: 2em;">
                <a href="http://github.com/rorymagee" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>