<section id="header">
    <div class="row text-center h-100">
      <div class="col-lg-6 offset-lg-3 text-center my-auto">
        <div class="card card-block d-flex bg-dark">
          <div class="card-body align-items-center d-flex justify-content-center">
            <h1>Hi, my name is Rory Magee</h1>
          </div>
        </div>
        <div class="card card-block d-flex bg-dark mt-2">
          <div class="card-body align-items-center d-flex justify-content-center">
            <h5>Welcome to my development portfolio</h5>
          </div>
        </div>
        <div class="card card-block d-flex bg-dark mt-2">
          <div class="card-body align-items-center d-flex justify-content-center">
            <span style="font-size: 3em; word-spacing: 10px;">
              <i class="fab fa-java mx-3"></i>
              <i class="fab fa-node mx-3"></i>
              <i class="fab fa-angular mx-3"></i>
              <i class="fab fa-android mx-3"></i>
              <i class="fab fa-html5 mx-3"></i>
              <i class="fab fa-js-square mx-3"></i>
              <i class="fab fa-sass mx-3"></i>
              <i class="fab fa-aws mx-3"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
</section>